<?xml version="1.0"?>
<!--
@author: hifzhil
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="z-arm"> 

	<gazebo reference="l1_link">
			<material>Gazebo/Blue</material>
	</gazebo>

	<gazebo reference="l2_link">
			<material>Gazebo/Blue</material>
	</gazebo>

	<gazebo reference="l3_link">
			<material>Gazebo/Blue</material>
	</gazebo>

	<gazebo reference="l4_link">
			<material>Gazebo/Blue</material>
	</gazebo>
	
</robot>